.editquiz {
  .top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 30px;
    }
    .image-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      padding-bottom: 20px;
      .image-main {
        max-width: 500px;
      }
    }
  }
  .form-wrapper {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    .form-field {
      max-width: 500px;
      width: 100%;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
    }
  }
}
